::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #4891ff;
  border-radius: 100vw;
}

@supports (scrollbar-color: #4891ff #fff) {
  * {
    scrollbar-color: #4891ff #fff;
    scrollbar-width: thin;
  }
}
